<span class="fixed w-screen z-30">
    <app-navbar></app-navbar>
</span>
<div class="flex h-screen w-screen">
    <div class="flex flex-row h-full w-full mt-5 items-center" *ngIf="userData.connected">
        <div class="h-4/5 w-1/6 mx-3 bg-white">
            <input type="text" classname="input-room" placeholder="Type room name" [value]="roomName"
                (change)="handleRoom($event)">
            <button type="button" class="create-button" (click)="createRoom()">Create</button>
            <button type="button" class="reload-button" (click)="reloadRooms()">Reload</button>
            <ul>
                <li *ngFor="let room of rooms" (click)="changeTab($event)">
                    {{room}}
                    <button *ngIf="!chats[room]" value="{{ room }}" (click)="joinRoom($event)">Join</button>
                </li>
            </ul>
        </div>
        <div class="h-4/5 w-5/6 mx-3 bg-white">
            <div class="">
                <ul class="chat-messages">
                    <li *ngFor="let message of chats[tab]">{{ message.senderName }}: {{ message.message }}</li>
                </ul>
            </div>
            <div class="send-message">
                <input type="text" class="input-message" placeholder="Type your message here"
                    [value]="userData.message" (change)="handleMessage($event)">
                <button type="button" class="send-button" (click)="sendValue()">Send</button>
            </div>
        </div>
    </div>
</div>