<form [formGroup]="form" (ngSubmit)="submit()" class="max-w-2xl m-auto pb-3">
    <h3 class="pt-3 mb-1">Work</h3>

    <p class="col-span-2">
        Let everyone know what is your job title and where you are working.
    </p>

    <span class="px-4 pt-2 grid grid-cols-2 gap-x-3 gap-y-1 max-w-2xl">
        <mat-form-field>
            <mat-label>Job Title</mat-label>
            <input matInput type="text" name="jobTitle" formControlName="jobTitle" >
            <mat-error></mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Company Name</mat-label>
            <input matInput type="text" name="companyName" formControlName="companyName" >
            <mat-error></mat-error>
        </mat-form-field>

        <mat-form-field class="col-span-2">
            <mat-label>Company Website</mat-label>
            <input matInput type="text" name="companyUrl" formControlName="companyUrl" >
            <mat-error></mat-error>
        </mat-form-field>
    </span>

    <span 
        class="flex justify-center font-semibold mb-2"
        *ngIf="hasResponse"
        [ngClass]="{
            'text-red-500' : hasError,
            'text-blue-500': !hasError
        }"
    >
        {{ responseMessage }}
    </span>

    <div class="flex justify-center">
        <button 
            mat-raised-button 
            color="primary" 
            class="mt-2 btn-block tracking-wider w-1/2 flex m-auto" 
            type="submit"
        >Update</button>
    </div>
</form>