<span class="fixed w-screen z-30">
    <app-navbar></app-navbar>
</span>


<div class="mx-5 lg:mx-7 xl:mx-20">
    <div class="sidebyside mt-20">
        <app-user-card></app-user-card>
    </div>


    <div class="w-2/3 mt-20 sidebyside post-feed-container flex justify-center">
        <form class="form mt-20" *ngIf="!createPost; else createPostTemplate">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Something on your mind?</mat-label>
                <input matInput (focus)="toggleCreatePost()">
            </mat-form-field>
        </form>

        <ng-template #createPostTemplate>
            <form class="form mt-20" [formGroup]="postForm" (ngSubmit)="submitPost($event)">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Make a Post</mat-label>
                    <textarea matInput autofocus formControlName="text"></textarea>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Add an Image?</mat-label>
                    <input matInput formControlName="imageUrl">
                </mat-form-field>
                <div *ngIf="this.profanity">
                    No profanity!
                </div>
                <div align="end">
                    <button mat-raised-button color="warn" (click)="toggleCreatePost()">Cancel</button>
                    <button mat-raised-button color="primary" (click)="submitPost($event)">Post</button>
                </div>

            </form>
        </ng-template>

        <div class="" *ngFor="let post of posts">
            <app-post [post]="post"></app-post>
        </div>
    </div>
</div>