<div>
<h3 class="font-semibold text-lg">Change password</h3>
<p class="my-3">Use this form to change your password. Once changed, your new password will be in effect next time you login.</p>
<form
    class="flex flex-col justify-center max-w-2xl m-auto"
    [formGroup]="form"
    (ngSubmit)="submit()"
>
    <mat-form-field class="mt-2"> 
        <mat-label>Current Password</mat-label>
        <input matInput type="password" formControlName="oldPassword" />
        <mat-error>The current password field is required.</mat-error>
    </mat-form-field>

    
    <mat-form-field class="mt-2">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="newPassword" />
        <mat-error>
            {{ this.form.controls.newPassword.hasError('minlength') ? 
                        "The password has to be at least 6 characters long" :
                        "The new password field is required"
            }}
        </mat-error>
    </mat-form-field>
   

    <mat-form-field class="mt-2">
        <mat-label>Re-enter New Password</mat-label>
        <input matInput type="password" formControlName="reenteredPassword" />
        <mat-error>The re-enter password field is required.</mat-error>
    </mat-form-field>


    <p class="font-semibold my-2 mx-auto flex justify-center"
        [ngClass]="{
            'text-green-600' : isUpdated,
            'text-red-500' : hasError.oldPassword || hasError.newPassword || hasError.reenteredPassword
        }"
    >
        {{ message }}
    </p>

    <div class="flex justify-center">
        <button 
            mat-raised-button 
            color="primary" 
            class="mt-2 btn-block tracking-wider w-1/2 flex m-auto" 
            type="submit"
        >Update</button>
    </div>
</form>

</div>